*, *::after, *::before { 
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    background-image: url("istockphoto-96655837-612x612.jpg");
    background-repeat: repeat;
    background-size: auto auto;
    background-position: center center;
    display: grid;
    grid-template-columns: repeat(2, 8rem);
    grid-template-rows: 13rem 5rem 13rem;
    gap: 1rem;
    cursor: pointer;
    justify-content: center;
    padding-top: 1rem;
    font-family: quicksand;
  }
  
  .deck {
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
    border-radius: .5rem;
    color: black;
    user-select: none;
  }
  
  .computer-deck {
    background-color: purple;
  }
  
  .player-deck {
    background-color: orange;
  }
  
  .text {
    font-weight: bold;
    color: white;
    grid-column: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card {
    position: relative;
    height: 100%;
    width: 100%;
    border: 1px solid black;
    border-radius: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
  }
  
  .card.red {
    color: red;
    background-color: white;
  }
  
  .card.black {
    color: black;
    background-color: white;
  }
  
  .card::before,
  .card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
  }
  
  .card::before {
    top: .5rem;
    left: .5rem
  }
  
  .card::after {
    bottom: .5rem;
    right: .5rem;
    transform: rotate(180deg);
  }